.drawing-page{
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;


    .init-btn {
        
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
            
        background-color: #2298d7; 
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;
        
        
        &:hover {
          background-color: #00a7cc;
          transform: translateY(-4px);
        }
    }
    
    .drawing-board{
        border: 1px solid;
    }

    .canvas-setting {
        position: fixed;
        bottom: 5px;
        right: 10px;
    }

    .board-save {
        
        position: fixed;
        right: 20px;
        bottom: 60px;
        border-radius: 7px;
        font-size: 19px;
        text-align: center;
        padding: 10px;
        border: 0px;
        color: white;
        background-color: rgb(47, 108, 223);

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .tools-bar{
        display: flex;
        flex-direction: column;
        padding: 4px;
        background-color: rgb(177, 185, 193);
        gap: 5px;
        border-radius: 6px;
        position: fixed;
        top: 40%;
        right: 15px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
        }

        .toggle-btn.active {
            background-color: rgb(30, 121, 211);
            color: white;
        }

        .toggle-btn.inactive {
            background-color: rgb(177, 185, 193);
            color: black;
        }   
    }
}
