.edit-profile-img{

    .select-file{
        display: flex;
        gap: 5px;

        div{
            border: 1px solid;
            padding: 2px;
            width: 200px;
            font-size: 14px;
        }
        
    }
}