/* Basic editor styles */
.tiptap {
  outline: none;
  height: 100vh;
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 10px;
    text-wrap: pretty;
  }

  h1, 
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  h1 { 
    font-size: 1.4rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }

  /* Code and preformatted text styles */
  
  pre {
    background: rgb(56, 56, 56);
    border-radius: 10px;
    font-family: 'JetBrainsMono', monospace;
    padding: 14px;

    code {
      background: none;
      color: white;
      font-size: 15px;
      padding: 0;
    }
  } 
  }

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .note-title-btn{
    font-size: 26px;
    font-weight: 800;
    
    &:hover{
       color: rgb(50, 110, 213);
       cursor: pointer;
      }
  }
  
  
  .save-note{     
      font-size: 20px;
      border-radius: 7px;
      height: 35px;
      border: 0px;
      color: white;
      background-color:  rgb(50, 110, 213);
  
      &:hover{
          cursor: pointer;
          transform: scale(1.05);
      }
  }  
}



