.control-group{
    background-color: aliceblue;
    

    button{
        margin: 3px;
        border-radius: 5px;
        border: transparent;
        padding: 5px;
        background-color: rgb(233, 237, 241);
       
    }
}